* {
    display: block;
}

body {
    background-color:#DBE9FA;
}

profile_data interests, profile_data music, profile_data films,
profile_data literature, profile_data avatar {
 text-align: center;
 color:#4B0082;
 font-size: 120%;
 
}

profile_data interests::before {
    color:#4B0082;
    content:"Ваші загальні інтереси: ";
}
profile_data music::before {
    color:#4B0082;
    content:"Музика: ";
}
profile_data films::before {
    color:#4B0082;
    content:"Фільми: ";
}
profile_data literature::before {
    color:#4B0082;
    content:"Література користувача: ";
}
profile_data avatar::before {
    color:#4B0082;
    content:"Аватар користувача: ";
}

profile_data {
    border-color: #4B0082;
    margin-top: 400px;
    margin-left: 550px;
    margin-right: 550px;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    font-family: 'Verdana';
    overflow: hidden;
}
